# Hello Ninja!

Print Hello Ninja!

# Data Manipulation using Pandas

Import the pandas library and assign it the alias 'pd'

Read the Customer_Demographic CSV file and create a DataFrame named **data**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ASDE-2023/RHBTouchHeart-Python/main/Customer_Demographic.csv")

Display Top 5 rows of the DataFrame named **data** using head

Display Last 5 rows of the existing DataFrame using tail

Using the existing DataFrame, find the number of rows and columns using shape

Using the existing DataFrame, find the Index, Datatype and Memory Information using info

Using the existing DataFrame, generate a descriptive statistics using describe

# Selection

Create a dataframe name **uniq_data** and count the occurrences of unique values, including NaN. Only list top 3 records

Create a DataFrame named **edu_series** and access the education column as a Series. Limit to top 3 records only

Create a DataFrame named **subset_data** and access multiple columns('education' & 'age'). Limit to last 3 records only

Create a DataFrame named **first_row** by selecting the 10th position using iloc

Create a DataFrame named **first_three_row** by selecting multiple row (0-3) using iloc[0:3]

Create a DataFrame named **job_status** and count all jobs by categories

Create a DataFrame named **marital_count** and count all marital_status by categories

Create a DataFrame named **education_level** and count all education by categories

# Data Cleaning

Create a DataFrame named **data_rename** and rename column 'job' to 'position' and column 'age' to 'newage'. Limit to 3 records only

Create a DataFrame named **is_null_array** and check for Null Values. Only display top 3 records

Create a DataFrame named **not_null_array** and check for non-null values. Only display top 3 records

Create a DataFrame named **data_dropped_rows** and drop rows with null values. Only display top 3 records

Check your data_dropped_rows DataFrame shape


# Filter, Sort & Groupby

Create a DataFrame named **ascending_bal** and sort your 'casa_balance' column in ascending order. Limit to last 5 records only

Create a DataFrame named **descending_age** and sort your 'age' column in descending order. Limit to 5 records only

Create a DataFrame named **data_age_casa** and sort your 'casa_balance' column in ascending order then 'age' column in descending order. Display 5 records only

Create a DataFrame named **group_race** and return a groupby object for values in column 'race'

# Join & Combine

Create a new DataFrame named **data_products** by reading Customer_Banking_Products CSV file

In [ ]:
data_products = pd.read_csv("https://raw.githubusercontent.com/ASDE-2023/RHBTouchHeart-Python/main/Customer_Banking_Products.csv")

Display first 5 rows of the **data_products** DataFrame using head

Create a DataFrame named **concat_data** and perform a Concatenate between **data** & **data_products** DataFrames. Display top 3 rows

Check your DataFrame Shape

Create a DataFrame named **final_result** and perform an inner join and display top 3 rows

Check the Shape of the final_result DataFrame

Append Data : Create a DataFrame named **data_add** & read the Additional_Customer csv file. Display last 3 rows

In [ ]:
data_add = pd.read_csv("https://raw.githubusercontent.com/ASDE-2023/RHBTouchHeart-Python/main/Additional_Customer.csv")

Create a new DataFrame named appended_data and append **data_add** below **final_result** DataFrame

Check your appended_data shape

# **Test your Ninja Skills !**

Selecting customers with age more than 24, marital status is married and own a house(1). At the end of your script please include this >>> print("Count of customers with age greater than 24, married, and owns a house is ->", **yourDataFrame**)<<<

Selecting customers with the age between 30-40, their marital status is single and they own a house(1). >>> print("Count of customers with age between 30-40, single, and owns a house is ->", **yourDataFrame**)<<<

# Statistics

Use the exisiting DataFrame named **appended_data** for the statistic

Summary statistics for numerical columns

Returns the mean of all columns

Returns the correlation between columns in a DataFrame

Returns the number of non-null values in each DataFrame column

Returns the highest value in each column

Returns the lowest value in each column

Returns the median of each column

Returns the standard deviation of each column

# Bonus Skills : Data Visualization

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
## Categorical visualization
variable = 'column1' ## change column1 to columns that exists in your DataFrame

var=df1[variable] ## change df1 to your DataFrame name
#count number of categorical variable-group by
varvalue=var.value_counts()
plt.figure(figsize=(9,3))
plt.bar(varvalue.index, varvalue)
plt.xticks(varvalue.index,varvalue.index.values)
plt.ylabel("Frequency")
plt.title(variable)
plt.show()

In [ ]:
## Create a histogram visualization for Numeric Variables
numeric_var = ['col1', 'col2']
variable_new = numeric_var[1]

var = df1[variable_new] ## change df1 to your DataFrame name

plt.figure(figsize=(9, 6))
plt.hist(var, bins=50)
plt.xlabel(variable_new.capitalize())
plt.ylabel("Frequency")
plt.title("Histogram of CASA_Balance")
plt.grid(True)
plt.show()